@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Open+Sans");

body{
    margin: 0 auto;
    max-width: 40em;
    font: 1.1em/1.6em "Open Sans", Helvetica, Arial, sans-serif;
    color: #2a2f35;
    text-rendering: optimizeLegibility;
}

h1,h2,h3 {
    line-height: 1.25;
    font-weight: 400;
}

code {
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  color: #268bd2;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #b8bec7;
}

@media print{
    body{
        max-width:none
    }
}
