body{
    margin: 1em auto;
    padding: 0.4em;
    max-width: 40em;
	font-size: 1rem !default;
	line-height: 1.6em;
	font-family: -apple-system, BlinkMacSystemFont, 
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
		"Fira Sans", "Droid Sans", "Helvetica Neue", 
		sans-serif;
    color: #444;
}

h1,h2,h3,h4 {
	margin-top: 0;
	line-height: 1.1;
    font-weight: 400;
}

blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: .25rem solid #eceeef;
}

code {
	padding: .2rem .4rem;
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
	border-radius: .25rem;
}

a, a:hover {
  color: #268bd2;
  text-decoration: none;
}

.article-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article-list li .date {
    color: #7f7f7f;
}

li .date::after {
    color: #EA526F;
    content: " >>";
}

footer {
    margin-top: 2em;
	padding-top: 1em;
    border-top: 1px solid #b8bec7;
}
